<div class="bottom_footer">
    <ul>
        <li>
            <p><i class="fa fa-warning" aria-hidden="true"></i> 法律申明：本网站仅提供信息采集,分类及搜索服务.信息完全来自于互联网,如果某个页面侵犯了您的权利,请联系我们将其删除.</p>
        </li>

        <li><i class="fa fa-copyright" aria-hidden="true"></i> 2012 av520</li>
    </ul>
</div>
