<header>
    <div class="header">
        <ul class="left">
            <li><a class="logo" href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li>
                <form class="search" action="/" method="get">
                    <% if(init.mode !== 'new') { %>
                    <input type="hidden" name="mode" value="<%= init.mode %>" />
                    <% } %>
                    <input name="k" value="<%= init.k || '' %>" placeholder="请输入关键字" />
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </li>
        </ul>
        <div class="right">
            <% if(!user) { %>
            <a class="login" href="/login"><i class="fa fa-user" aria-hidden="true"></i><span>登陆</span></a>
            <a class="reg" href="/reg"><i class="fa fa-user-plus" aria-hidden="true"></i><span>注册</span></a>
            <% } else { %>
            <a href="/user"><i class="fa fa-vcard" aria-hidden="true"></i><span>设置</span></a>
			<a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i><span>退出</span></a>
            <% } %>
            <br class="clear" />
        </div>
        <br class="clear" />
    </div>
</header>
<div style="height: 54px;"></div>
