<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<!--<link href="http://fontawesome.io/assets/css/site.css" rel="stylesheet" type="text/css"/>-->
<!--<link href="/themes/system/vendors/font-awesome/css/font-awesome.min.css?v=4.4.0" rel="stylesheet" type="text/css" />-->
<!--<script src="//use.fontawesome.com/193e9abf3b.js"></script>-->
<!--<link href="//fonts.useso.com/css?family=Lato:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
<link href="/css/style.css" rel="stylesheet" type="text/css">
<script src="/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
$('body').on('touchmove touchstart', function(event) {
    event.preventDefault();
});
</script>
