<div class="footer">
    <ul>
        <li>
        <i class="fa fa-copyright" aria-hidden="true"></i> 2012 av520
        <script language="javascript" type="text/javascript" src="//js.users.51.la/19184727.js"></script>
        </li>
    </ul>
</div>
