<% if(user) { %>
	<li class="one">
		<h1>
			<i class="fa fa-user-circle" aria-hidden="true"></i> <%= user.username %>
		</h1>
		<div class="content">
			<ul class="username">
				<li class="money">余额：<%= ('money' in user) ? user.money : 0 %> 元
				</li>
				<li class="point">积分：<%= ('point' in user) ? user.point : 0 %> 分
				<a href="/user#point" target="_blank">推广得积分</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="one">
		<h1>
			<i class="fa fa-credit-card" aria-hidden="true"></i> 充值账户
		</h1>
		<div class="content">
			<ul>
				<li>
					<a href="/pay?tag=mouth" target="_blank">
						<i class="fa fa-money" aria-hidden="true"></i>
						20 元/月
					</a>
				</li>
				<li>
					<a href="/pay?tag=year" target="_blank">
						<i class="fa fa-money" aria-hidden="true"></i>
						200 元/年
					</a>
				</li>
				<li>
					<a href="/pay?tag=year3" target="_blank">
						<i class="fa fa-money" aria-hidden="true"></i>
						500 元/3年
					</a>
				</li>
			</ul>
		</div>
	</li>
	<% } %>