* {
    padding: 0;
    margin: 0;
    font: 12px/18px "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif, "\5B8B\4F53";
    list-style: none;
}

.clear {
    clear: both;
}

body {
    background: #e1e1e1;
}

a:link {
    color: #1D222D;
    text-decoration: none;
}

a:hover {
    color: #2e7ac4;
}

a:visited {
    color: #666;
}

div.warm {
    /*display: none;*/
    padding: 10px;
    color: #6f6f00;
    background: #fffad9;
    border: 1px solid #f4efd0;
}

div.warm a:hover {
    text-decoration: underline;
}

@media (max-width: 414px) {
    div.warm {
        display: block;
    }
}

div.ad {
    padding: 10px;
    display: none;
}


/* header */

header {
    width: 100%;
    /*box-shadow: 0 0 3px #000;*/
    z-index: 9999;
    /*background: #333;*/
    background: #24292e;
    position: fixed;
    top: 0;
    /*border-bottom: 1px #333 solid;*/
}

header div.header {
    max-width: 1200px;
    margin: auto;
}

header div ul.left {
    float: left;
    /*padding: 5px 0;*/
}

header div ul li {
    display: inline-block;
    vertical-align: middle;
    line-height: 54px;
}

header div ul li a.logo {
    display: block;
    color: #4898F8;
    text-decoration: none;
    font-size: 2em;
    /* margin-left: 10px; */
    line-height: 54px;
    /* padding-top: 3px; */
}

@media (max-width: 1200px) {
    header div ul li a.logo {
        margin-left: 10px;
    }
}

header div ul li a.logo i {
    font-size: 1em;
    /*text-shadow: 1px 1px 1px #666;*/
}

header div ul li a.logo:hover {
    color: #4898F8;
    text-decoration: none;
}

header div ul li form {
    margin-left: 10px;
    /* border: 1px #000 solid; */
    padding: 0 10px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.125);
    overflow: hidden;
    min-height: 30px;
    line-height: 30px;
}

header div ul li form.focus {
    background: rgba(255, 255, 255, 0.175);
}

header div ul li form input {
    color: #CCC;
    font-size: 1em;
    width: 300px;
    outline: none;
    border: none;
    background: none;
    line-height: 30px;
}

header div ul li form button {
    cursor: pointer;
    font-size: 1.4em;
    background: none;
    border: none;
    border-radius: 3px;
    padding: 2px;
}

header div ul li form button i {
    font-size: 1em;
    color: #999999;
}

header div div.right {
    float: right;
    text-align: right;
    line-height: 54px;
}

header div div.right a {
    /*float: left;*/
    color: #FFF;
    padding: 5px 10px;
    border-radius: 3px;
}

header div div.right a span {
    margin-left: 5px;
}

header div div.right a:hover {
    background: #4898F8;
}

@media (max-width: 800px) {
    header div div.right a span {
        display: none;
    }
}

@media (max-width: 550px) {
    header div ul li a.logo {
        margin-left: 10px;
    }
    header div ul li form {
        margin-left: 10px;
    }
    header div ul li form input {
        width: 200px;
        font-size: 1.4em;
    }
}

@media (max-width: 365px) {
    header div ul li form input {
        width: 190px;
    }
    header div div.right a.reg {
        display: none;
    }
}


/* header over */

div.main {
    width: 1200px;
    margin: auto;
    position: relative;
    padding: 20px 0;
}

div.list {
    border-radius: 3px;
    background: #FFF;
    width: 900px;
    max-width: 900px;
    float: left;
    overflow: hidden;
}

div.list div.head {
    background: #f6f6f6;
}

div.list div.head ul {
    padding: 0 10px;
}

div.list div.head ul li {
    display: inline-block;
    line-height: 40px;
}

div.list div.head ul li a {
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
}

div.list div.head ul li.on a,
div.list div.head ul li a:hover {
    padding: 3px 10px;
    background: #80bd01;
    color: #FFF;
}

div.list div.tags {
    padding: 10px;
}

div.list div.tags div.content {
    border-radius: 3px;
    padding: 10px;
    color: #6f6f00;
    background: #fffad9;
    border: 1px solid #f4efd0;
}

div.list div.tags div.content a {
    border-radius: 3px;
    padding: 3px 10px;
}

div.list div.tags div.content a.on,
div.list div.tags div.content a:hover {
    background: #80bd01;
    color: #FFF;
}

div.list ul.list {
    padding: 0 10px;
}

div.list ul.list li {
    padding: 15px 0;
    overflow: hidden;
    border-top: 1px #e8e8e8 solid;
    vertical-align: middle;
}

div.list ul.list li.center {
    height: auto;
    font-size: 12px;
    color: #999;
    text-align: center;
}

div.list ul.list li:first-child {
    border-top: 0;
}

div.list ul.list li img {
    float: left;
    width: 60px;
    height: 80px;
}

div.list ul.list li h1 {
    vertical-align: middle;
    display: inline-block;
    width: 70%;
}

div.list ul.list li a {
    display: inline-block;
    max-width: 100%;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    line-height: 20px;
}

div.list ul.list li span {
    vertical-align: middle;
    display: inline-block;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 12px;
    background: #ff9ea0;
    color: #FFF;
    margin-right: 5px;
}

div.list ul.list li div.r {
    float: right;
}

div.list ul.list li em {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #999;
}

div.list ul.list li em:first-child {
    margin-left: 0;
}

div.list ul.list li em i {
    padding-right: 5px;
}

div.list ul.list li div.r em b {
    font-weight: normal;
}

@media (max-width: 404px) {
    div.list ul.list li a {
        font-size: 14px;
        /*font-weight: normal;*/
    }
    div.list ul.list li div.r em b {
        display: none;
    }
}

div.main div.right {
    width: 280px;
    float: right;
}

div.main div.right li.one {
    background: #FFF;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
}

div.main div.right li.one h1 {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #1D222D;
    background: #f6f6f6;
}

div.main div.right li.one h1 i {
    font-size: 14px;
    color: #CCC;
    margin-right: 10px;
}

div.main div.right li.one div.content {
    padding: 10px;
}

div.main div.right li.one div.content b {
    font-size: 14px;
    font-weight: bold;
}

div.main div.right li.one div.content ul li a {
    color: #4898F8;
}

div.main div.right li.one div.content ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    div.main {
        width: auto;
        max-width: 900px;
        padding: 0;
    }
    div.main div.list {
        width: auto;
        float: none;
        max-width: none;
    }
    div.main div.right {
        display: none;
    }
    div.main br {
        display: none;
    }
}

@media (max-width: 196px) {
    header div ul li a {
        font-size: 1em;
    }
    div.main ul.list li div p span:first-child {
        display: none;
    }
}

div.main div.left {
    float: left;
    width: 900px;
    /*margin-bottom: 20px;*/
}

div.main div.left div.content {
    background: #FFF;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
}

div.main div.left div.content div {
    padding: 10px;
}

div.main div.left div.content div.video {
    position: relative;
    padding: 10px 10px 56.25% 10px;
    max-width: 880px;
    height: 0;
}

div.main div.left div.content div.video embed.video {
    width: 100%;
    vertical-align: bottom;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

div.main div.left h1 {
    /*padding: 10px 0;*/
    font-size: 20px;
    line-height: 30px;
    /*margin-bottom: 20px;*/
}

@media (max-width: 900px) {
    div.main div.left {
        padding: 10px 10px 0 10px;
        float: none;
        width: auto;
        border-radius: 0;
        overflow: hidden;
    }
}

div.main div.left h1 a {
    margin-left: 10px;
    color: #999;
    font-size: 20px;
}

div.main div.left h1 em {
    float: right;
    line-height: 30px;
}

div.main div.left h1 i {
    color: #CCC;
}

div.main div.left h1 a i {
    color: #2e7ac4;
}

div.main div.left div.content h2 {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    background: #f6f6f6;
}

div.main div.left div.content h2 i {
    color: #CCC;
}

div.main div.left div.content img {
    width: 100%;
}

div.main div.left div.content ul.download h2 {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    font-weight: bold;
    background: #CCC;
}

div.main div.left div.content ul.download h2 i {
    margin-right: 10px;
    color: #FFF;
}

ul.download {
    padding: 0;
}

ul.download li {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    border-top: 1px solid #CCC;
}

ul.download li:first-child {
    border-top: none;
}

ul.download li a {
    line-height: 40px;
    color: #1D222D;
}

ul.download li a:hover {
    color: #FF8533;
}

ul.download li span {
    margin-right: 10px;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 3px;
    background: #1D222D;
    color: #EBEBEB;
}

div.main div.right div {
    margin-bottom: 10px;
}

div.main div.right div:last-child {
    margin-bottom: 0;
}

div.main div.right div.footer {
    padding-top: 0;
}

div.main div.right div.footer ul h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: #333;
    padding-top: 20px;
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px #000;
}

div.main div.right div.footer ul h3:first-child {
    padding-top: 0;
}

div.main div.right div.footer ul li {
    line-height: 20px;
    font-size: 12px;
    color: #999;
}

div.main div.right div.footer ul li:last-child {
    text-align: center;
    /*padding-top: 20px;*/
    /*text-shadow: -1px -1px 1px #CCC;*/
    color: #333;
}

div.main div.right div.footer ul li p {
    text-align: left;
}

div.main div.left div.choose a,
div.main div.left div.choose span {
    text-align: center;
    font-size: 12px;
    width: 60px;
    padding: 5px 10px;
    background: #2e7ac4;
    display: inline-block;
    margin: 5px;
    color: #FFF;
}

div.main div.left div.choose span {
    background: rgb(244, 245, 246);
    color: #1D222D;
}

div.wechat {
    padding: 5px;
    background: #ffedf2;
    border: 1px #FFCCCC solid;
}

div.wechat img {
    float: left;
    width: 70px;
}

div.wechat p {
    padding-left: 75px;
    font-size: 1em;
    color: #820000;
}

div.ziyuan {
    padding-top: 10px;
}

div.ziyuan ul li {
    line-height: 24px;
    border: 1px solid #CCC;
    margin-bottom: 5px;
    background: #FFF;
}

div.ziyuan ul li span {
    color: #FFF;
    line-height: 24px;
    text-align: right;
    display: inline-block;
    width: 80px;
    background: #CCC;
    padding-right: 10px;
    margin-right: 10px;
}

form.user {
    margin: 20px 0;
    float: left;
    padding: 20px;
    width: 900px;
    background: #FFF;
    border-radius: 3px;
}

@media (max-width: 900px) {
    form.user {
        float: none;
        width: auto;
        margin: 0;
        max-width: 900px;
        border-radius: 0;
    }
}

form.user ul li {
    margin-bottom: 10px;
}

form.user label {
    line-height: 30px;
}

form.user label div {
    display: inline-block;
    padding: 5px;
    border: 1px solid #CCC;
    width: 300px;
}

form.user label input {
    width: 100%;
    font-size: 1em;
    border-radius: 0;
    border: none;
    outline: none;
}

form.user label span {
    display: inline-block;
    width: 50px;
    font-size: 16px;
    color: #666;
    text-align: right;
    margin-right: 10px;
}

form.user button {
    background: #4898F8;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    color: #FFF;
    width: 100px;
}

form.user li.bt {
    padding-top: 20px;
    text-align: left;
    vertical-align: bottom;
}

form.user li.bt a {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 0 0 10px;
}

form.user li.bt a:hover {
    text-decoration: underline;
}

form.user button:hover {
    background: #4898F8;
}

@media (max-width: 404px) {
    form.user label input {
        font-size: 1.5em;
    }
    form.user label div {
        display: block;
        width: auto;
    }
    form.user label span {
        display: block;
        width: auto;
        text-align: left;
        margin-right: 0;
        margin-bottom: 5px;
    }
    form.user button {
        padding: 10px 0;
        width: 100%;
    }
    form.user li.bt {
        padding-top: 10px;
        text-align: center;
    }
    form.user li.bt a {
        padding: 10px 0 0 0;
    }
}

div.bottom_footer {
    text-align: center;
    padding: 30px 10px 10px 10px;
}