<%

Date.prototype.format = function(format) {
    var date = {
        "M+": this.getMonth() + 1,
        "d+": this.getDate(),
        "h+": this.getHours(),
        "m+": this.getMinutes(),
        "s+": this.getSeconds(),
        "q+": Math.floor((this.getMonth() + 3) / 3),
        "S+": this.getMilliseconds()
    };
    if (/(y+)/i.test(format)) {
        format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
    }
    for (var k in date) {
        if (new RegExp("(" + k + ")").test(format)) {
            format = format.replace(RegExp.$1, RegExp.$1.length == 1
                ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
        }
    }
    return format;
};

const today = (new Date()).getTime();

%>
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>
        <%= site.title %>
    </title>
    <meta name="keywords" content="<%= site.keywords %>" />
    <meta name="description" content="<%= site.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include include/links.ejs %>
    <script type="text/javascript">
        var load = false;
        var n = 1;
        var m = '<%= init.mode %>';
		var t = '<%= init.tag %>';
        var k = '<%= init.k %>';
		var timer = <%= data.list[data.list.length - 1].timer %>;
    </script>
    <script src="/js/list.js" type="text/javascript"></script>
</head>

<body>
    <% include include/header.ejs %>
    <div class="main">
        <div class="list">
            <div class="head">
                <ul>
                    <li<% if(init.mode === 'new' ) { %> class="on"<% } %>><a href="/">全部</a></li>
                    <li<% if(init.mode === 'hot' ) { %> class="on"<% } %>><a href="/?mode=hot">热门</a></li>
                    <% init.menu.forEach((v) => { %>
                    <li<% if(init.mode === v.name) { %> class="on"<% } %>>
						<a href="/?mode=<%= v.name %>">
							<%= v.title %>
						</a>
					</li>
					<% }); %>
				</ul>
        	</div>
			<% if(init.tags.length > 0) { %>
			<div class="tags">
				<div class="content">
				<% init.tags.forEach((v) => { %>
					<a<% if(init.tag === v.tag ) { %> class="on"<% } %> href="?mode=<%= init.mode %>&tag=<%= v.tag %>"><%= v.tag %></a>
				<% }) %>
				</div>
			</div>
			<% } %>
        <ul class="list">
            <!--<%= JSON.stringify(data) %>-->
            <% data.list.forEach((v) => { %>
            <li>
            <% if(new Date(v.timer).format('MM-dd') === new Date(today).format('MM-dd')) { %><span>最新</span><% } %><h1>
                    <a href="/<%= v._id %>" target="_blank">
                        <%= v.title %>
                    </a>
                </h1>
                <div class="r">
                    <em>
                        <i class="fa fa-calendar" aria-hidden="true"></i><b><%= new Date(v.timer).format('MM-') %></b><%= new Date(v.timer).format('dd') %>
                    </em>
                    <em>
                        <i class="fa fa-globe" aria-hidden="true"></i><%= v.count || 0 %>
                    </em>
                </div>
            </li>
            <% }); %>
        </ul>
        <div class="foot">
        </div>
    </div>
    <div class="right">
        <ol>
            <li class="one">
                <h1>
                    <i class="fa fa-bar-chart" aria-hidden="true"></i> 本站资源统计
                </h1>
                <div class="content ziyuan">
                    <ul>
                        <li>
                            <span>全部资源</span>
                            <%= data.count.top %>
                        </li>
                        <% init.menu.forEach((v) => { %>
                        <li>
                            <span><%= v.title %></span>
                            <%= eval("data.count." + v.name) %>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </li>
            <% include include/right.ejs %>
        </ol>
        <% include include/miniFooter.ejs %>
    </div>
    <br class="clear" />
</div>
</body>

</html>
