<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= site.title %></title>
    <meta name="keywords" content="<%= site.keywords %>" />
    <meta name="description" content="<%= site.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include include/links.ejs %>
</head>
<body>
<% include include/header.ejs %>
<div class="main">
    <form class="user" method="post">
        <ul>
            <li>
                <label>
                    <span>用户名</span>
                    <div><input name="username" type="text" value="" /></div>
                </label>
            </li>
            <li>
                <label>
                    <span>密码</span>
                    <div><input name="password" type="password" value="" /></div>
                </label>
            </li>
			<input type="hidden" name="uri" value="<%= ('uri' in init) ? init.uri : '' %>" />
            <li class="bt">
                <button>登录</button>
                <a href="/reg<%= ('uri' in init) ? `?uri=${init.uri}` : '' %>">注册一个帐号</a>
            </li>
        </ul>
    </form>

    <br class="clear" />
</div>
<% include include/footer.ejs %>
</body>
</html>