<%
function contains(arr, obj) {
  var i = arr.length;
  while (i--) {
    if (arr[i] === obj) {
      return true;
    }
  }
  return false;
}

%>
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title><%= data.title %> | <%= site.title %></title>
    <meta name="keywords" content="<%= data.title %>，<%= site.keywords %>" />
    <meta name="description" content="<%= site.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./include/links.ejs %>
</head>

<body>
    <% include ./include/header.ejs %>
    <div class="main">
        <!--<%= JSON.stringify(data) %>-->
        <div class="left">
			<div class="content">
				<div>
					<h1>
						<%= data.title %>
						<a href="#" class="like" title="喜欢"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
					</h1>
				</div>
            </div>

<% if(user) { %>

			<% if(data.videos.length > 0) { %>
            <div class="content">
                <h2>
                    <i class="fa fa-film" aria-hidden="true"></i>
                    视频播放
                </h2>
				<% data.videos.forEach((v) => { %>
					<div class="video" file="<%= v %>">
						<embed class="video" allownetworking="internal" allowscriptaccess="never" src="<%= v.replace(/amp;/g, "") %>" quality="high" bgcolor="#000000" wmode="transparent" allowfullscreen="true" type="application/x-shockwave-flash">
					</div>
				<% }); %>
            </div>
			<% } %>

			<% if(data.images.length > 0) { %>
            <div class="content">
                <h2>
                    <i class="fa fa-image" aria-hidden="true"></i>
                    美图欣赏
                </h2>
                <div>
                    <% data.images.forEach((v) => { %>
						<% if(!/attachments/g.test(v)) { %>
						<img src="<%= v %>" />
						<% } %>
                    <% }); %>
                </div>
            </div>
			<% } %>

			<% if(data.torrent && data.torrent !== '') { %>
            <div class="content">
                <h2>
                    <i class="fa fa-download" aria-hidden="true"></i>
                    磁力链接
                </h2>
                <div>
                    <ul class="download">
                        <li>
                            <a href="<%= data.torrent %>">
                                <%= data.torrent %>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
			<% } %>

			<% var download = false; if(download) { //if(data.downloads.length > 0 && !contains(data.tags, '正规')) { %>
			<div class="content">
                <h2>
                    <i class="fa fa-download" aria-hidden="true"></i>
                    资源下载
                </h2>
                <div>
                    <ul class="download">
					<% data.downloads.forEach((v) => { %>
                        <li>
                            <a href="http://c.n.h.k.segirl.space/<%= v.address %>">
                                <%= v.title %>
                            </a>
                        </li>
					<% }); %>
                    </ul>
                </div>
            </div>
			<% } %>

<% } else { %>
			<div class="content">
                <h2>
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    登陆提示
                </h2>
                <div>
                    <div class="warm">观看内容请先登陆帐号，<a href="/login?uri=/<%= data._id %>">登陆帐号</a></div>
                </div>
            </div>	
<% } %>
        </div>
        <div class="right">
            <% include ./include/right.ejs %>
            <% include ./include/miniFooter.ejs %>
        </div>
        <br class="clear" />
    </div>
</body>

</html>
