<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= site.title %></title>
    <meta name="keywords" content="<%= site.keywords %>" />
    <meta name="description" content="<%= site.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include include/links.ejs %>
</head>
<body>
<% include include/header.ejs %>
<div class="main">
    <form class="user" method="post">
        <% if(init.success && init.success === true) { %>
        <div class="success">您的帐号已经注册成功，<span id='jump'></span>s 后回到首页.</div>
        <% } else if(init.success === false) { %>
        <div class="error"><%= ('err' in init) ? init.err : '未知错误' %></div>
        <% } %>
        <ul>
            <li>
                <label>
                    <span>用户名</span>
                    <div><input name="username" type="text" value="" /></div>
                </label>
            </li>
            <li>
                <label>
                    <span>密码</span>
                    <div><input name="password" type="password" value="" /></div>
                </label>
            </li>
            <li>
                <label>
                    <span>验证</span>
                    <div><input name="password1" type="password" value="" /></div>
                </label>
            </li>
			<input type="hidden" name="uri" value="<%= ('uri' in init) ? init.uri : '' %>" />
            <li class="bt">
                <button>注册</button>
                <a href="/login">登录</a>
            </li>
        </ul>
    </form>

    <br class="clear" />
</div>
<% include include/footer.ejs %>
</body>
</html>